# Auto detect text files and perform LF normalization.
* text=auto

# Custom for Unity
*.cs     text diff=csharp
*.shader text
*.cginc  text
*.hlsl   text

# Force CRLF for certain file types
*.bat    text eol=crlf
*.cmd    text eol=crlf

# Force LF for other specific file types
*.sh     text eol=lf
*.meta   text eol=lf
*.unity  text eol=lf
*.prefab text eol=lf
*.asset  text eol=lf
*.anim   text eol=lf
*.mat    text eol=lf
